<mat-toolbar>
  <button routerLink="/" mat-icon-button class="example-icon mr-5"  aria-label="Example icon-button with share icon">
   Fleuriste <mat-icon class="ml-2">local_florist</mat-icon>
  </button>

  <button *ngIf="isLoggedIn" color="warn" routerLink="/panier" mat-icon-button class="example-icon ml-5"  aria-label="Example icon-button with share icon">
    Panier <mat-icon class="ml-2">shopping_bag</mat-icon>
  </button>

  <span class="ml-5" *ngIf="isLoggedIn">Bienvenue {{client.firstName+' '+client.lastName}} </span>
  <span class="example-spacer"></span>
  <button (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="example-icon mr-5" color="warn" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon> Logout
  </button>
  <button routerLink="/login" *ngIf="!isLoggedIn" mat-icon-button class="example-icon mr-5" color="accent" aria-label="Example icon-button with share icon">
    <mat-icon>login</mat-icon> Login
  </button>

  <button routerLink="/register" *ngIf="!isLoggedIn" mat-icon-button class="example-icon mr-5" color="primary" aria-label="Example icon-button with share icon">
    <mat-icon>login</mat-icon> Register
  </button>

</mat-toolbar>
<body>
<router-outlet></router-outlet>
</body>
