<mat-form-field class="ml-2" >
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Mseddi" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date|date :'M/d/yy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let row"> {{row.client}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="orders">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Orders </th>
      <td mat-cell *matCellDef="let row">
        <div *ngFor="let order of row.orders">
          <span [ngStyle]="{'background-color':order.fleur.couleur}" class='dot'> </span> <span
          class="ml-2">{{order.fleur.couleur}}</span>
          <span> {{ order.fleur.libelle}}</span>
          <span> Quantite {{order.quantite}} </span>
        </div>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantite </th>
      <td mat-cell *matCellDef="let row"> {{row.quantite}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row" >
        <button (click)="edit(row.code)" mat-icon-button color="accent" class="ml-5" >
          <mat-icon>edit</mat-icon>
          Modifier
        </button>
        <button (click)="delete(row.code)" mat-icon-button color="warn"  class="ml-5">
          <mat-icon>delete</mat-icon>
          Supprimer
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" >No data</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
