<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <p>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="Login" required formControlName="login">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="accent">
          <input type="password" matInput placeholder="Password" required formControlName="password">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="First Name" required formControlName="firstName">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="accent">
          <input type="text" matInput placeholder="Last Name" required formControlName="lastName">
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-button>Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
