<button (click)="acheter()" mat-button color="warn">Commander</button>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let order of orders">
    <div>
      <span [ngStyle]="{'background-color':order.fleur.couleur}" class='dot'> </span> <span
      class="ml-2">{{order.fleur.couleur}}</span>
      <span> {{ order.fleur.libelle}}</span>
      <span> Quantite {{order.quantite}} </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
