<mat-progress-spinner *ngIf="!loaded"></mat-progress-spinner>
<button class="ml-2" (click)="addToCart()" *ngIf="loaded" mat-icon-button color="accent"><mat-icon>add_shopping_cart</mat-icon> Ajouter au panier</button>
<mat-selection-list (selectionChange)="selectChange($event)"  *ngIf="loaded" cols="2" rowHeight="2:1">
  <mat-list-option [value]="fleur" *ngFor="let fleur of fleurs">
    <app-fleur-card [fleur]="fleur"></app-fleur-card>
  </mat-list-option>
</mat-selection-list>
