<div *ngIf="loaded" class="justify-content-center text-center">
  <h1 class="pt-3">Modifier une Fleur</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <mat-label>Libelle</mat-label>
        <input formControlName="libelle"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Categorie</mat-label>
        <input formControlName="categorie"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Couleur</mat-label>
        <mat-select formControlName="couleur"  matInput type="text" class="text-center">
          <mat-option *ngFor="let color of colors" [value]="color">
            <span  [ngStyle]="{'background-color':color}" class='dot'> </span> <span class="ml-2">{{color}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Quantite</mat-label>
        <input formControlName="quantite"  matInput type="number" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="align-middle mb-1">edit </mat-icon>&nbsp;
        Modifier
      </button>
    </div>
  </form>
</div>
