<mat-toolbar color="primary">
  <button routerLink="/admin" mat-icon-button>Fleuriste <mat-icon class="ml-2">local_florist</mat-icon></button>
  <span class="ml-2"></span>
  <button class="ml-5" routerLink="/admin/add" mat-icon-button>
    <mat-icon color="accent">add</mat-icon>
    Ajouter Fleur
  </button>
  <span class="ml-5"></span>
  <button class="ml-5" routerLink="/admin/commandes" mat-icon-button>
    <mat-icon color="accent">list</mat-icon>
    Commandes
  </button>
</mat-toolbar>
<body>
<router-outlet></router-outlet>
</body>
