.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
mat-form-field{
  color: white;
}

input {
  -moz-appearance: textfield;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
