<div class="mt-2">
  <mat-icon mat-list-icon class="mt-3" [ngStyle]="{'background-color':fleur.couleur,'color':fleur.couleur}">stop_circle</mat-icon>
  <div class="d-inline ml-3" mat-line>{{fleur.libelle}}</div>
  <div class="ml-5 pb-3" mat-line> {{fleur.categorie}} </div>
</div>
