<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <p>
        <mat-form-field color="accent">
          <input type="text" required matInput placeholder="Login" formControlName="login">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="accent">
          <input type="password" required matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
